.color {
    /* background-color:#F9DBBD; */
    background-color:#F8DADC;
}
h2{
    font-size: 24px;
    color:#060606
}
p{
    font-size: 18px;
}
header{
    border: 2px dashed #0e0e0ef7;
}
.nav{
    /* border:double #04183be3; */
    width:auto;
    /* background-color:#FFA5AB; */
    background-color:#E2E0D5;
    display: block;
    padding:2px;
}
.img{
    padding: 0px;
    
    border: 6px solid #fff6f6;
}
